*{
    font-family: "Roboto", sans-serif;

}
body{
    margin: 0px;
}
.hero{
    background-color: #110f0f;
    color: white;
    /*display: flex;
    flex-wrap: wrap;*/
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    display: flex;
}
#logo > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #6b5c53;
    margin: 5px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
}
.menu > a{
    color: white;
    text-decoration: none;
    padding: 4px;
    margin: 5px;
    border-radius: 2px;
}
.menu > a:hover{
    color: #110f0f;
    background-color: #c1beb9;
}
.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}
.presentation > .text{
    width: 25%;
}
.presentation > .text > h2{
    font-weight: 900;
    font-size: 36px;
    margin: 0;
}
.presentation > img{
    height: 270px;
    border: 5px solid #6b5c53;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b5c53;
    width: 150px;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 7%;
}
.button:hover{
    background-color: #c1beb9;
    color: black;
}